<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Application</title>
    <style type="text/css">
        table
        {
            width: 1000px;
        }
    </style>
</head>
<body>
<h4>申请表</h4>
<table border="1" rules="all" th:width="400">

    <tr>

        <th>流程编号</th>

        <th>申请人</th>

        <th>主题名</th>

        <th>详细内容</th>

        <th>批准人</th>

        <th>申请时间</th>

        <th>核准时间</th>
    </tr>

    <tr th:each="applications:${applicationsList}">

        <td th:text="${applications.id}"></td>

        <td th:text="${applications.applicant}"></td>

        <td th:text="${applications.theme}"></td>

        <td th:text="${applications.content}"></td>

        <td th:text="${applications.approver}"></td>

        <td th:text="${applications.staTime}"></td>

        <td th:text="${applications.apprTime}"></td>

    </tr>

</table>

<br>
<h4>新增审批记录</h4>
<table>
    <form method="post" action="/addApplication" id="myForm">

        <tr>
            <td>申请人</td>
            <td><input type="text" name="applicant"/></td>
        </tr>

        <tr>
            <td>主题名</td>
            <td><input type="text" name="theme"/></td>
        </tr>

        <tr>
            <td>详细内容</td>
            <td><input type="text" style="overflow-y: scroll"; name="content"/></td>
        </tr>

        <tr>
            <td>批准人</td>
            <td><input type="text" name="approver"/></td>
        </tr>

        <tr>
            <td>申请时间(年-月-日)</td>
            <td><input type="text" name="staTime"/></td>
        </tr>

        <tr>
            <td>核准时间(年-月-日)</td>
            <td><input type="text" name="apprTime"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="提交"></td>
            <td><input type="reset"value="清空"></td>
        </tr>

    </form>
</table>

</body>
</html>