<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Position</title>
</head>
<body>
<h4>职位信息</h4>
<table border="1" rules="all" th:width="400">

    <tr>

        <th>职位编号</th>

        <th>职位名称</th>

        <th>操作</th>


    </tr>

    <tr th:each="posi:${posisList}">

        <td th:text="${posi.posId}"></td>

        <td th:text="${posi.posName}"></td>

        <td>
            <a href="#">修改</a>
            <a href="#">删除</a>
        </td>
    </tr>

</table>
</body>
</html>