<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.abc.Mapper.EmpMapper">

    <select id="selectAllEmp" resultType="Emp">
        select * from emp
    </select>

    <delete id="deleteEmp" parameterType="String">
        delete from emp where empId=#{empId}
    </delete>

    <insert id="insertOneEmp" parameterType="Emp">
        insert into emp value (#{empId},#{empName},#{department},#{positions})
    </insert>

    <select id="selectByPolicy" resultType="Emp">
        select * from emp
        <where>
            <if test="empId!='' and empId!=null">empId=#{empId}</if>
            <if test="empName!='' and empId!=null">and empName like "%${empName}%"</if>
        </where>
    </select>
    
    <delete id="deleteOneEmp" parameterType="Emp">
        delete from emp where empId=#{empId} and empName=#{empName}
    </delete>

    <update id="updateEmp" parameterType="Emp">
        update emp
        <set>
            <if test="empName!='' and empName!=null">empName=#{empName},</if>
            <if test="department!='' and department!=null">department=#{department},</if>
            <if test="positions!='' and positions!=null">positions=#{positions}</if>
        </set>
        WHERE empId=#{empId}
    </update>
</mapper>